li{
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 96% */


  color: black;
}
.active{

  color: #B82026;
}
/* .menu-toggler {
  position: absolute;
  display: block;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  width:40px;
  height:40px;
  z-index:2;
  opacity:0;
  cursor:pointer;
}
.menu-toggler:hover + label,
.menu-toggler:hover + label:before,
.menu-toggler:hover + label:after,{
  background-color : #B82026;
}
.menu-toggler:checked + label {
  background: transparent;
}
.menu-toggler:checked + label:before,
.menu-toggler:checked + label:after,{
  top:0;
  width:50px;
  transform-origin: 50% 50%;
}
.menu-toggler:checked + label:before {
  transform: rotate(45deg) translateY(-15px) translateX(-15px);
}
.menu-toggler:checked + label:after {
  transform: rotate(-45deg);
}
.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  transform: rotate(0deg) translate(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  transform: rotate(70deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  transform: rotate(160deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  transform: rotate(210deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  transform: rotate(280deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item a {
  pointer-events:auto;
}
.menu-toggler + label {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: #B82026;
  transition: transform 0.5s top 0.5s;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.menu-toggler + label:before,
.menu-toggler + label:after {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: #B82026;
  transition: transform 0.5s top 0.5s;
  content: "";
  position: absolute;
  display: block;
  left: 0;
}
.menu-toggler + label:before {
  top: 10px;
}
.menu-toggler + label:after {
  top: -10px;
}
.menu-item:nth-child(1) a {
  transform: rotate(0deg);
}
.menu-item:nth-child(2) a {
  transform: rotate(-70deg);
}
.menu-item:nth-child(3) a {
  transform: rotate(-160deg);
}
.menu-item:nth-child(4) a {
  transform: rotate(-210deg);
}
.menu-item:nth-child(5) a {
  transform: rotate(-280deg);
}

.menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: 0.5s;
}
.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: black;
  background: white;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  pointer-events: none;
  transition: 0.2s;
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: #B82026;
  font-size: 30px
} */

.circle-menu li {
  list-style: none;
  display: inline;
}

.circle-menu {
    position: relative;
    width: 14em;
    height: 14em;

    margin: 5em auto 7em;
}
.circle-menu a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12em; height: 12em;

  margin: -3.5em;
  -moz-border-radius: 4em;
  -webkit-border-radius: 4em;
  border-radius: 4em;
  text-align: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}
.circle-menu a img {
  display: block;
  width: 12em; height: 12em;
  text-align: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  z-index: 1;
}
.circle-menu a img.sp {
  display: block;
  width: 2em; height: 2em;
  text-align: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  z-index: 3;
}

/* .circle-menu a.spiritual {background:#009cde;opacity: 0.6;}
.circle-menu a.occupational {background:#3a913f;opacity: 0.6;}
.circle-menu a.emotional {background:#fecd06;opacity: 0.6;}
.circle-menu a.environmental {background:#fa7f00;opacity: 0.6;}
.circle-menu a.intellectual {background:#ed2124;opacity: 0.6;}


.circle-menu a.spiritual:hover {background:#009cde;opacity: 1.0;}
.circle-menu a.occupational:hover {background:#3a913f;opacity: 1.0;}
.circle-menu a.emotional:hover {background:#fecd06;opacity: 1.0;}
.circle-menu a.environmental:hover {background:#fa7f00;opacity: 1.0;}
.circle-menu a.intellectual:hover {background:#ed2124;opacity: 1.0;} */



 /* 360/7= 51 roughly so for 7 elements rotate the element every 51deg. 10em translate is half the container */
 .circle-menu .sp { transform: rotate(0deg) translate(0em) rotate(0deg);}
.circle-menu .spiritual { transform: rotate(72deg) translate(6em) rotate(-72deg);}
.circle-menu .occupational { transform: rotate(144deg) translate(6em) rotate(-144deg); }
.circle-menu .emotional { transform: rotate(216deg) translate(6em) rotate(-216deg); }
.circle-menu .environmental { transform: rotate(288deg) translate(6em) rotate(-288deg); }
.circle-menu .intellectual { transform: rotate(360deg) translate(6em) rotate(-360deg);}
