<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-12 col-lg-2">
    <app-navside></app-navside>
  </div>
  <div class="col-md-12 col-lg-9 ">

    <div  class="mt-5 ms-2">
      <h1  class="mt-2 ms-2">Vedio Analysis </h1>
      <p class="mt-2 ms-2">Welcome to DockseraSpy .</p>
      </div>

    <div class="col-mid-12 col-lg-9 col-sm-12 mt-3  ">
      <app-videonav></app-videonav>
  </div>
  <div class="col-mid-12 col-lg-9 col-sm-12 mt-3   ">
  <video src="../../assets/image/truck.mp4"  controls preload="auto" type='video/mp4' loop></video>
</div>
<div class="col-mid-12 col-lg-9 col-sm-12 mt-3   ">
  <ul>
    <li><span class="lis">Class 01</span> <span>: 5</span></li>
    <li><span class="lis">Class 02</span> <span>: 5</span></li>
    <li><span class="lis">Class 03</span> <span>: 5</span></li>
    <li><span class="lis">Class 04</span> <span>: 5</span></li>
  </ul>
</div>






  </div>
</div>

