
<nav class="navbar navbar-expand-lg bg-light col-lg-12 col-md-12 col-sm-12">
  <div class="container-fluid">
    <span class="me-4"><img src="../../assets/image/vector.svg" alt=""></span>
    <a class="navbar-brand me-4" href="#"><img src="../../assets/image/Docksera navbar.png" alt=""></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="me-4" role="search">
        <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <div class="d-flex align-items-center">
      <span class="me-4"><img src="../../assets/image/message.svg" alt=""></span>
      <span class="me-4"><img src="../../assets/image/ring.svg" alt=""></span>
      <div class="lang me-4">
        <select class="form-control" #selctedLang (change)="switchLanguage(selctedLang.value)">
          <option *ngFor="let language of Translate.getLangs()"
          [value]="language"
          [selected]="language === Translate.currentLang">
            {{language}}</option>
        </select>
      </div>
      <div class="loginAcc d-flex">
        <div>
          <img src="../../assets/image/testimg.png" alt="" class="ms-3 mt-1">
        </div>

          <div class="align-items-center ms-3">
            <span class="name">Finn warhol</span><br>
            <span class="email">andywarhol@mail.com</span>
          </div>
      </div>
    </div>
  </div>
</nav>
<div class="row" style="width: 100%;" >
  <div class="col-lg-3 navside">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item mb-4 ms-4 mt-4 navSide-item ">
        <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiZTE5NWQ3M2ItMjE5NC00N2NjLTlkMjQtMTU2Mjk2NDJhY2NjIiwidCI6IjE5ZjU0OGVjLTM0NTYtNGUxMy04MmNkLTI4MGE3MGE3NjZkZiJ9" target="_blank"><img class="" src="../../assets/image/Dashboard.svg" alt=""> <span class="ms-2">{{'Dashboard'|translate}}</span></a>

      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/security" routerLinkActive="active" class="nav-link">
          <img class="" src="../../assets/image/cam.svg" alt=""> <span class="">Security cam cloud</span>
        </a>

      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/vtt" routerLinkActive="active" class="nav-link">
        <img class=" " src="../../assets/image/voice.svg" alt=""> <span class="">Voice to text VTT</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-2 navSide-item">
        <a routerLink="/company" routerLinkActive="active" class="nav-link">
        <img class=" ms-3" src="../../assets/image/comp.svg" alt=""> <span class="ms-2">Shipping comp</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/container" routerLinkActive="active" class="nav-link">
        <img class="" src="../../assets/image/container.svg" alt=""><span class="">Container</span>
      </a>
      </li>
    </ul>
    <div class="d-flex flex-column">
      <button class="logout   ms-4 text-center align-items-center" (click)="signOut()">
        <span><img src="../../assets/image/Vector.png" alt="" class="me-4">Log out</span>
      </button>
    </div>
  </div>
  <div class="col-lg-6"  >
    <div class="row">
      <div class="col-lg-6 mt-4">
        <h3 class="dash mt-3 ms-3">shipping comp</h3>
        <p class="welcom ms-3">Welcome to Tangier port management platform.</p>
        <div class="cardtable mt-2 col-lg-6 ms-3">
          <div class="datetable d-flex ms-2 pt-2 mb-2">
            <span class="tableP  me-1">shipping comp</span>
            <span class="ms-3">From</span><input class="ms-2" type="date" name="date" placeholder="dd-mm-yyyy" >
            <span class="ms-3">To</span><input class="ms-2" type="date" name="dates" placeholder="dd-mm-yyyy" >
          </div>
          <div style="overflow-y:scroll; height: 450px;">
            <table  class="table text-center">
              <thead>
                  <tr>
                      <th scope="col" style="width: 77px;">Date-Time</th>
                      <th scope="col" style="width: 96px;">ship comp-id</th>
                      <th scope="col" style="width: 88px;">cont-num</th>
                      <th scope="col" style="width: 78px;">Cont-Type</th>
                      <th scope="col" style="width: 57px;">country</th>
                      <th scope="col" style="width: 109px;">Shipping comp</th>
                      <th scope="col" style="width: 48px;">Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr >
                      <td >
                        <div class="text-center"><p style="width: 68px;">22-11-2022</p>
                          <div class="text-center"><p class="timeTable text-center">02:00 PM</p></div>
                        </div>
                      </td>
                      <td style="width: 69px;" class="text-center">1265983</td>
                      <td style="width: 83px;" class="text-center">50</td>
                      <td style="width: 45px;" class="text-center">Clothes</td>
                      <td style="width: 34px;" class="text-center">China</td>
                      <td style="width: 69px;" class="text-center">China comp</td>
                      <td style="width: 56px;" class="text-center">Unnormal</td>
                  </tr>
                  <tr >
                    <td >
                      <div class="text-center"><p style="width: 68px;">22-11-2022</p>
                        <p class="timeTable text-center">02:00 PM</p>
                      </div>
                    </td>
                    <td style="width: 69px;" class="text-center">1265983</td>
                    <td style="width: 83px;" class="text-center">10</td>
                    <td style="width: 45px;" class="text-center">Clothes</td>
                    <td style="width: 34px;" class="text-center">China</td>
                    <td style="width: 69px;" class="text-center">China comp</td>
                    <td style="width: 56px;" class="text-center">Unnormal</td>
                </tr>
                <tr >
                  <td >
                    <div class="text-center"><p style="width: 68px;">22-11-2022</p>
                      <p class="timeTable text-center">02:00 PM</p>
                    </div>
                  </td>
                  <td style="width: 69px;" class="text-center">1265983</td>
                  <td style="width: 83px;" class="text-center">120</td>
                  <td style="width: 45px;" class="text-center">Clothes</td>
                  <td style="width: 34px;" class="text-center">China</td>
                  <td style="width: 69px;" class="text-center">China comp</td>
                  <td style="width: 56px;" class="text-center">Unnormal</td>
              </tr>
              <tr >
                <td >
                  <div class="text-center"><p style="width: 68px;">22-11-2022</p>
                    <p class="timeTable text-center">02:00 PM</p>
                  </div>
                </td>
                <td style="width: 69px;" class="text-center">1265983</td>
                <td style="width: 83px;" class="text-center">30</td>
                <td style="width: 45px;" class="text-center">Clothes</td>
                <td style="width: 34px;" class="text-center">China</td>
                <td style="width: 69px;" class="text-center">China comp</td>
                <td style="width: 56px;" class="text-center">Unnormal</td>
            </tr>
            <tr >
              <td >
                <div class="text-center"><p style="width: 68px;">22-11-2022</p>
                  <p class="timeTable text-center">02:00 PM</p>
                </div>
              </td>
              <td style="width: 69px;" class="text-center">1265983</td>
              <td style="width: 83px;" class="text-center">40</td>
              <td style="width: 45px;" class="text-center">Clothes</td>
              <td style="width: 34px;" class="text-center">China</td>
              <td style="width: 69px;" class="text-center">China comp</td>
              <td style="width: 56px;" class="text-center">Unnormal</td>
          </tr>
          <tr >
            <td >
              <div class="text-center"><p style="width: 68px;">22-11-2022</p>
                <p class="timeTable text-center">02:00 PM</p>
              </div>
            </td>
            <td style="width: 69px;" class="text-center">1265983</td>
            <td style="width: 83px;" class="text-center">50</td>
            <td style="width: 45px;" class="text-center">Clothes</td>
            <td style="width: 34px;" class="text-center">China</td>
            <td style="width: 69px;" class="text-center">China comp</td>
            <td style="width: 56px;" class="text-center">Unnormal</td>
        </tr>
                <tr >
                  <td >
                    <div class="text-center"><p style="width: 68px;">22-11-2022</p>
                      <p class="timeTable text-center">02:00 PM</p>
                    </div>
                  </td>
                  <td style="width: 69px;" class="text-center">1265983</td>
                  <td style="width: 83px;" class="text-center">60</td>
                  <td style="width: 45px;" class="text-center">Clothes</td>
                  <td style="width: 34px;" class="text-center">China</td>
                  <td style="width: 69px;" class="text-center">China comp</td>
                  <td style="width: 56px;" class="text-center">Unnormal</td>
              </tr>
              <tr >
                <td >
                  <div class="text-center"><p style="width: 68px;">22-11-2022</p>
                    <p class="timeTable text-center">02:00 PM</p>
                  </div>
                </td>
                <td style="width: 69px;" class="text-center">1265983</td>
                <td style="width: 83px;" class="text-center">80</td>
                <td style="width: 45px;" class="text-center">Clothes</td>
                <td style="width: 34px;" class="text-center">China</td>
                <td style="width: 69px;" class="text-center">China comp</td>
                <td style="width: 56px;" class="text-center">Unnormal</td>
            </tr>
              </tbody>
          </table>
          </div>
        </div>

    </div>

  </div>
  <div class="mt-5 ms-3 footer">
    <app-footer></app-footer>
  </div>
</div>
<div class="col-lg-3 mt-5">
  <div class="sidebar">
    <div class="mt-4"><p class="ptitle ms-2 mt-3">Shipping comp :</p></div>
    <div class="d-flex ms-4">
      <img src="../../assets/image/comp.svg" alt="">
      <span class="ms-2 chartnumber">15000</span>
    </div>
    <img class="ms-3 mt-2 mb-2" src="../../assets/image/chartside.png" alt="">
    <div class="d-flex ms-3 text-center">
      <div class="ms-2 datachart">
        <img src="../../assets/image/green.svg" alt=""> <span class="">Normal</span>
      </div>
      <div class="ms-2 datachart">
        <img src="../../assets/image/red.svg" alt=""> <span class="">Unnormal</span>
      </div>

    </div>
    <p class="ptitle ms-2 mt-3">Top suspecting comp :</p>
      <div class="d-flex">
        <p class="ms-2 compname">Hmm comp</p>
        <p class="ms-4 redcomp">300 cont</p>
      </div>
      <div class="d-flex">
        <p class="ms-2 compname">Green comp</p>
        <p class="ms-4 redcomp">350 cont</p>
      </div>
      <div class="d-flex">
        <p class="ms-2 me-2 compname">Red comp</p>
        <p class="ms-4  redcomp">305 cont</p>
      </div>
      <p class="ptitle ms-2 mt-3">Top unsuspecting comp :</p>
      <div class="d-flex">
        <p class="ms-2 compname">Hmm comp</p>
        <p class="ms-4 grencomp">50 cont</p>
      </div>
      <div class="d-flex">
        <p class="ms-2 compname">Green comp</p>
        <p class="ms-4 grencomp">30 cont</p>
      </div>
      <div class="d-flex">
        <p class="ms-2 me-2 compname">Red comp</p>
        <p class="ms-4 grencomp">35 cont</p>
      </div>
      <div class="col-lg-3 ms-3">
        <app-chat></app-chat>
      </div>
  </div>

</div>
</div>




