
<nav class="navbar navbar-expand-lg bg-light col-lg-12 col-md-12 col-sm-12">
  <div class="container-fluid">
    <span class="me-4"><img src="../../assets/image/vector.svg" alt=""></span>
    <a class="navbar-brand me-4" href="#"><img src="../../assets/image/Docksera navbar.png" alt=""></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="me-4" role="search">
        <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <div class="d-flex align-items-center">
      <span class="me-4"><img src="../../assets/image/message.svg" alt=""></span>
      <span class="me-4"><img src="../../assets/image/ring.svg" alt=""></span>
      <div class="lang me-4">
        <select class="form-control" #selctedLang (change)="switchLanguage(selctedLang.value)">
          <option *ngFor="let language of Translate.getLangs()"
          [value]="language"
          [selected]="language === Translate.currentLang">
            {{language}}</option>
        </select>
      </div>
      <div class="loginAcc d-flex">
        <div>
          <img src="../../assets/image/testimg.png" alt="" class="ms-3 mt-1">
        </div>

          <div class="align-items-center ms-3">
            <span class="name">Finn warhol</span><br>
            <span class="email">andywarhol@mail.com</span>
          </div>
      </div>
    </div>
  </div>
</nav>
<div class="row" style="width: 100%;" >
  <div class="col-lg-3 navside">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item mb-4 ms-4 mt-4 navSide-item ">
        <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiMmMwMjY3ZjItNzU5MS00YTdhLWIxZmQtMGEwZmQ3MDZhYjVjIiwidCI6IjE5ZjU0OGVjLTM0NTYtNGUxMy04MmNkLTI4MGE3MGE3NjZkZiJ9" target="_blank"><img class="" src="../../assets/image/Dashboard.svg" alt=""> <span class="ms-2">{{'Firewall logs'|translate}}</span></a>

      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/check" routerLinkActive="active" class="nav-link">
          <img class="" src="../../assets/image/cam.svg" alt=""> <span class="">Check Container</span>
        </a>

      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/http" routerLinkActive="active" class="nav-link">
        <img class=" " src="../../assets/image/voice.svg" alt=""> <span class="">HTTP Logs</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-2 navSide-item">
        <a routerLink="/Movement" routerLinkActive="active" class="nav-link">
        <img class=" ms-3" src="../../assets/image/comp.svg" alt=""> <span class="ms-2">Movement Analysis</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/Scrapp" routerLinkActive="active" class="nav-link">
        <img class=" " src="../../assets/image/voice.svg" alt=""> <span class="">Scrapping Module</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a href="https://docs.google.com/spreadsheets/d/1-TOM68f5B0iIOm5GdwOAhGaKJzMIerXy0jN6F2ahUYE/export?format=xlsx"target="_blank" class="nav-link">
        <img class="" src="../../assets/image/container.svg" alt=""><span class="">API RESULT</span>
      </a>
      </li>
    </ul>
    <div class="d-flex flex-column">
      <button class="logout   ms-4 text-center align-items-center" (click)="signOut()">
        <span><img src="../../assets/image/Vector.png" alt="" class="me-4">Log out</span>
      </button>
    </div>
  </div>
  <div class="col-lg-6"  >
    <div class="row">
      <div class="col-lg-6 mt-4">
        <h3 class="dash mt-3 ms-3">Movement Analysis</h3>
        <p class="welcom ms-3">Welcome to Tangier port management platform.</p>
        <div class="cardtable mt-2 col-lg-12 ms-3">
          <div style="overflow-y:scroll; height: 450px;">
            <table  class="table text-center">
              <thead>
                  <tr>
                      <th scope="col" style="width: 200px;">Global_sets</th>
                      <th scope="col" style="width: 96px;">Move_id</th>
                      <th scope="col" style="width: 88px;">no_occurences</th>
                      <th scope="col" style="width: 78px;">perc_occurance</th>

                  </tr>
              </thead>
              <tbody>
                  <tr >

                      <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'CHAL', 'CTFR', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
                      <td style="width: 96px;" class="text-center">mv_5533</td>
                      <td style="width: 88px;" class="text-center">5533</td>
                      <td style="width: 78px;" class="text-center">25.5542213190467</td>

                  </tr>
                  <tr >

                    <td style="width: 400px;" class="text-center">['DEBA', 'RAZV', 'ALOD', 'CHAL', 'SVCA', 'EPCA', 'RVGM', 'BASE', 'INIT', 'APRO', 'EMBA']</td>
                    <td style="width: 96px;" class="text-center">mv_5199</td>
                    <td style="width: 88px;" class="text-center">5199</td>
                    <td style="width: 78px;" class="text-center">24.0116386477</td>

                </tr>
                <tr >

                  <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'BASI', 'SPDU', 'EVDU', 'SVCA', 'EPCA', 'RVGM', 'BASE', 'CHES', 'APRO', 'EMBA']</td>
                  <td style="width: 96px;" class="text-center">mv_3292</td>
                  <td style="width: 88px;" class="text-center">3292</td>
                  <td style="width: 78px;" class="text-center">15.2041381858489</td>

              </tr>
              <tr >

                <td style="width: 400px;" class="text-center">['DEBA', 'BASI', 'ALOD', 'CHAL', 'CTFR', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
                <td style="width: 96px;" class="text-center">mv_3108</td>
                <td style="width: 88px;" class="text-center">3108</td>
                <td style="width: 78px;" class="text-center">14.3543321633105</td>

            </tr>
            <tr >

              <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'BASI', 'SHFP', 'CHAL', 'SPCA', 'EPCA', 'RVGM', 'BASE', 'APRO', 'EMBA']</td>
              <td style="width: 96px;" class="text-center">mv_1340</td>
              <td style="width: 88px;" class="text-center">1340</td>
              <td style="width: 78px;" class="text-center">6.18880472935526</td>

          </tr>
          <tr >

            <td style="width: 400px;" class="text-center">['DEBA', 'BASI', 'ALOD', 'SHFP', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
            <td style="width: 96px;" class="text-center">mv_1105</td>
            <td style="width: 88px;" class="text-center">1105</td>
            <td style="width: 78px;" class="text-center">5.10345464622206</td>

        </tr>
        <tr >

          <td style="width: 400px;" class="text-center">['DEBA', 'BASI', 'ALOD', 'SHFP', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
          <td style="width: 96px;" class="text-center">mv_452</td>
          <td style="width: 88px;" class="text-center">452</td>
          <td style="width: 78px;" class="text-center">2.08756696840938</td>

      </tr>
      <tr >

        <td style="width: 400px;" class="text-center">['DEBA', 'BASI', 'ALOD', 'SPDU', 'CHAL', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
        <td style="width: 96px;" class="text-center">mv_270</td>
        <td style="width: 88px;" class="text-center">270</td>
        <td style="width: 78px;" class="text-center">1.24699796785516</td>

    </tr>
    <tr >

      <td style="width: 400px;" class="text-center">['DEBA', 'CHET', 'BASE', 'ALOD', 'INIT', 'CTFR', 'APRO', 'EMBA']</td>
      <td style="width: 96px;" class="text-center">mv_175</td>
      <td style="width: 88px;" class="text-center">175</td>
      <td style="width: 78px;" class="text-center">0.808239423609828</td>

  </tr>
  <tr >

    <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'CTFR', 'SHFP', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
    <td style="width: 96px;" class="text-center">mv_160</td>
    <td style="width: 88px;" class="text-center">160</td>
    <td style="width: 78px;" class="text-center">0.738961758728986</td>

</tr>
<tr >

  <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'CTFR', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
  <td style="width: 96px;" class="text-center">mv_152</td>
  <td style="width: 88px;" class="text-center">152</td>
  <td style="width: 78px;" class="text-center">0.702013670792537</td>

</tr>
<tr >

  <td style="width: 400px;" class="text-center">['DEBA', 'CHET', 'BASE', 'ALOD', 'CHAL', 'CTFR', 'INIT', 'APRO', 'EMBA']</td>
  <td style="width: 96px;" class="text-center">mv_148</td>
  <td style="width: 88px;" class="text-center">148</td>
  <td style="width: 78px;" class="text-center">0.683539626824312</td>

</tr>
<tr >

  <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'BASI', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
  <td style="width: 96px;" class="text-center">mv_138</td>
  <td style="width: 88px;" class="text-center">138</td>
  <td style="width: 78px;" class="text-center">0.63735451690375</td>

</tr>
<tr >

  <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
  <td style="width: 96px;" class="text-center">mv_126</td>
  <td style="width: 88px;" class="text-center">126</td>
  <td style="width: 78px;" class="text-center">0.581932384999076</td>

</tr>
<tr >

  <td style="width: 400px;" class="text-center">['DEBA', 'CHET', 'ALOD', 'BASE', 'CTFR', 'APRO', 'EMBA']</td>
  <td style="width: 96px;" class="text-center">mv_122</td>
  <td style="width: 88px;" class="text-center">122</td>
  <td style="width: 78px;" class="text-center">0.563458341030852</td>

</tr>
<tr >

  <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'SPDU', 'CHAL', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
  <td style="width: 96px;" class="text-center">mv_119</td>
  <td style="width: 88px;" class="text-center">119</td>
  <td style="width: 78px;" class="text-center">0.549602808054683</td>

</tr>
<tr >

  <td style="width: 400px;" class="text-center">['DEBA', 'CHET', 'ALOD', 'CTFR', 'INIT', 'APRO', 'EMBA']</td>
  <td style="width: 96px;" class="text-center">mv_111</td>
  <td style="width: 88px;" class="text-center">111</td>
  <td style="width: 78px;" class="text-center">0.512654720118234</td>

</tr>
<tr >

  <td style="width: 400px;" class="text-center">['DEBA', 'ALOD', 'BASI', 'SHFP', 'CTFR', 'SPDU', 'EVDU', 'APRO', 'CHES', 'EMBA']</td>
  <td style="width: 96px;" class="text-center">mv_102</td>
  <td style="width: 88px;" class="text-center">102</td>
  <td style="width: 78px;" class="text-center">0.471088121189728</td>

</tr>

              </tbody>
          </table>
          </div>
        </div>
        <div class="imgchart mt-4 ms-3 mb-4">
          <img class="imgchart" src="../../assets/image/chaart.png" alt="">
        </div>


    </div>

  </div>

</div>

</div>




