<div class="col-md-6 col-lg-2 ">
  <nav class="navbar navbar-expand-lg navbar-light mt-4 ms-2 ">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse " id="navbarNav">
        <nav class="menu">
            <input checked="checked" class="menu-toggler" type="checkbox" [value]="value" (change)="onCheckboxChange()">
            <label for="menu-toggler"><img src="{{image}}" width="120px" height="120px" /></label>
            <ul>
              <li class="menu-item">
                <a  routerLink="/repContainer"><img src="../../assets/image/3bv.png" alt=""></a>
              </li>
              <li class="menu-item">
                <a  routerLink="/repSource"><img src="../../assets/image/1bv.png" alt=""></a>
              </li>
              <li class="menu-item">
                <a  routerLink="/repUsername"><img src="../../assets/image/5bv.png" alt=""></a>
              </li>
              <li class="menu-item">
                <a  routerLink="/repContainer"><img src="../../assets/image/3bv.png" alt=""></a>
              </li>
              <li class="menu-item">
                <a  routerLink="/repSource"><img src="../../assets/image/4bv.png" alt=""></a>
              </li>

            </ul>
          </nav>
      </div>
      </div>
  </nav>
