h1{
  font-size: 25px;
line-height: 24px;
/* identical to box height, or 96% */


color: #B82026;
}
p{
  font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */


color: #6E6B7B;
}
video{
  width: 100%;
}
li .lis{
  font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #B71F25;
}
li span{
  font-weight: 500;
font-size: 20px;
line-height: 24px;
  color: black;
}
