<div class="col-md-6 col-lg-9 ">
  <nav class="navbar navbar-expand-lg navbar-light mt-4 ms-2 ">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link " routerLinkActive="active" routerLink="/cam1">Cam01</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/cam2">Cam02</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/cam3">Cam03</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/cam4">Cam04</a>
          </li>
        </ul>
        </div>
        </div>
        </nav>
