
<nav class="navbar navbar-expand-lg bg-light col-lg-12 col-md-12 col-sm-12">
  <div class="container-fluid">
    <span class="me-4"><img src="../../assets/image/vector.svg" alt=""></span>
    <a class="navbar-brand me-4" href="#"><img src="../../assets/image/Docksera navbar.png" alt=""></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="me-4" role="search">
        <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <div class="d-flex align-items-center">
      <span class="me-4"><img src="../../assets/image/message.svg" alt=""></span>
      <span class="me-4"><img src="../../assets/image/ring.svg" alt=""></span>
      <div class="lang me-4">
        <select class="form-control" #selctedLang (change)="switchLanguage(selctedLang.value)">
          <option *ngFor="let language of Translate.getLangs()"
          [value]="language"
          [selected]="language === Translate.currentLang">
            {{language}}</option>
        </select>
      </div>
      <div class="loginAcc d-flex">
        <div>
          <img src="../../assets/image/testimg.png" alt="" class="ms-3 mt-1">
        </div>

          <div class="align-items-center ms-3">
            <span class="name">Finn warhol</span><br>
            <span class="email">andywarhol@mail.com</span>
          </div>
      </div>
    </div>
  </div>
</nav>
<div class="row" style="width: 100%;" >
  <div class="col-lg-3 navside">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item mb-4 ms-4 mt-4 navSide-item ">
        <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiMmMwMjY3ZjItNzU5MS00YTdhLWIxZmQtMGEwZmQ3MDZhYjVjIiwidCI6IjE5ZjU0OGVjLTM0NTYtNGUxMy04MmNkLTI4MGE3MGE3NjZkZiJ9" target="_blank"><img class="" src="../../assets/image/Dashboard.svg" alt=""> <span class="ms-2">{{'Firewall logs'|translate}}</span></a>

      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/check" routerLinkActive="active" class="nav-link">
          <img class="" src="../../assets/image/cam.svg" alt=""> <span class="">Check Container</span>
        </a>

      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/http" routerLinkActive="active" class="nav-link">
        <img class=" " src="../../assets/image/voice.svg" alt=""> <span class="">HTTP Logs</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/Movement" routerLinkActive="active" class="nav-link">
        <img class="" src="../../assets/image/comp.svg" alt=""> <span class="">Movement Analysis</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-2 navSide-item">
        <a routerLink="/Scrapp" routerLinkActive="active" class="nav-link">
        <img class="ms-3" src="../../assets/image/voice.svg" alt=""> <span class="ms-2">Scrapping Module</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a href="https://docs.google.com/spreadsheets/d/1-TOM68f5B0iIOm5GdwOAhGaKJzMIerXy0jN6F2ahUYE/export?format=xlsx"target="_blank" class="nav-link">
        <img class="" src="../../assets/image/container.svg" alt=""><span class="">API RESULT</span>
      </a>
      </li>
    </ul>
    <div class="d-flex flex-column">
      <button class="logout   ms-4 text-center align-items-center" (click)="signOut()">
        <span><img src="../../assets/image/Vector.png" alt="" class="me-4">Log out</span>
      </button>
    </div>
  </div>
  <div class="col-lg-6"  >
    <div class="row">
      <div class="col-lg-6 mt-4">
        <h3 class="dash mt-3 ms-3">SCRAPPING CONTAINER DETAILS </h3>
        <p class="welcom ms-3">Welcome to Tangier port management platform.</p>
        <div class="scrap mt-3 ms-3">
          <!-- <p>The website <a href="https://www.cma-cgm.com/ebusiness/tracking/search" target="_blank">CMA CGM </a>has the current up to date container’s moves.</p>
          <h4 class="mt-3 ms-3 ">Website usage: </h4>
          <img src="../../assets/image/scrap3.png" class="mt-3 ms-3 " alt="">
          <h4 class="mt-3 ms-3 ">Step 1:</h4>
          <p class="mt-3 ms-4 ">Type a container’s ID to search and fetch all CURRENT LIVE data.</p>
          <h4 class="mt-3 ms-3 ">Step 2:</h4>
          <p class="mt-3 ms-4 ">Scroll down to see the result of your search:</p>
          <img src="../../assets/image/scrap2.png" class="mt-3 ms-3 mb-2 " alt="">
          <p class="mt-4 ms-4 ">Automatically scrapped container data from CMA CGM by data science team will look like this:</p>
          <img src="../../assets/image/scrap1.png" class="mt-3 ms-3 mb-4 " alt=""> -->

          <iframe title="firewall dashboard - User Behavior Comparison" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f64417e3-b966-4bce-b2d6-e60af756bd8f&autoAuth=true&ctid=19f548ec-3456-4e13-82cd-280a70a766df" frameborder="0" allowFullScreen="true"></iframe>


        </div>


    </div>

  </div>
</div>

</div>




