
<nav class="navbar navbar-expand-lg bg-light col-lg-12 col-md-12 col-sm-12">
  <div class="container-fluid">
    <span class="me-4"><img src="../../assets/image/vector.svg" alt=""></span>
    <a class="navbar-brand me-4" href="#"><img src="../../assets/image/Docksera navbar.png" alt=""></a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="me-4" role="search">
        <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
    <div class="d-flex align-items-center">
      <span class="me-4"><img src="../../assets/image/message.svg" alt=""></span>
      <span class="me-4"><img src="../../assets/image/ring.svg" alt=""></span>
      <div class="lang me-4">
        <select class="form-control" #selctedLang (change)="switchLanguage(selctedLang.value)">
          <option *ngFor="let language of Translate.getLangs()"
          [value]="language"
          [selected]="language === Translate.currentLang">
            {{language}}</option>
        </select>
      </div>
      <div class="loginAcc d-flex">
        <div>
          <img src="../../assets/image/testimg.png" alt="" class="ms-3 mt-1">
        </div>

          <div class="align-items-center ms-3">
            <span class="name">Finn warhol</span><br>
            <span class="email">andywarhol@mail.com</span>
          </div>
      </div>
    </div>
  </div>
</nav>
<div class="row col-lg-12">
  <div class="col-lg-3 navside">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item mb-4 ms-4 mt-4 navSide-item ">
        <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiMmMwMjY3ZjItNzU5MS00YTdhLWIxZmQtMGEwZmQ3MDZhYjVjIiwidCI6IjE5ZjU0OGVjLTM0NTYtNGUxMy04MmNkLTI4MGE3MGE3NjZkZiJ9" target="_blank"><img class="" src="../../assets/image/Dashboard.svg" alt=""> <span class="ms-2">{{'Firewall logs'|translate}}</span></a>

      </li>
      <li class="nav-item mb-4 ms-2 navSide-item">
        <a routerLink="/check" routerLinkActive="active" class="nav-link">
          <img class=" ms-3" src="../../assets/image/cam.svg" alt=""> <span class="ms-2">Check Container</span>
        </a>

      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/http" routerLinkActive="active" class="nav-link">
        <img class="" src="../../assets/image/voice.svg" alt=""> <span class="">HTTP Logs</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/company" routerLinkActive="active" class="nav-link">
        <img class="" src="../../assets/image/comp.svg" alt=""> <span class="">Shipping comp</span>
      </a>
      </li>
      <li class="nav-item mb-4 ms-4 navSide-item">
        <a routerLink="/container" routerLinkActive="active" class="nav-link">
        <img class="" src="../../assets/image/container.svg" alt=""><span class="">Container</span>
      </a>
      </li>
    </ul>
    <div class="d-flex flex-column">
      <button class="logout   ms-4 text-center align-items-center" (click)="signOut()">
        <span><img src="../../assets/image/Vector.png" alt="" class="me-4">Log out</span>
      </button>
    </div>
  </div>
  <div class="col-lg-6">
    <!-- <div class="row">
      <div class="col-lg-6 mt-4">
        <h3 class="dash mt-3 ms-3">Security cam cloud</h3>
        <p class="welcom ms-3">Welcome to Tangier port management platform.</p>
        <div class="">
          <div class="ms-3 mb-4" style="width: 800px;height: 500px;" >
            <div class="video-player-wrapper ms-3" style="width: 800px;height: 500px;">
              <vg-player (onPlayerReady)="videoPlayerInit($event)">
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video #media [vgMedia]="$any(media)" [src]="currentVideo.src" id="singleVideo" preload="auto" crossorigin>
                </video>
              </vg-player>
              <ul class="player-list">
                <li *ngFor="let vdo of videoItems; let $index = index"
                  (click)="startPlaylistVdo(vdo, $index)" [class.selected]="vdo === currentVideo">
                  {{ vdo.name }}
                </li>
              </ul>
            </div>
          </div>


    </div>

  </div>

</div> -->
<!-- <div class="col-lg-12 cardshadow ">
  <h1>Check Container</h1>


    <div class="form-group">
      <label for="start">Start date:</label>

      <input type="text"  formControlName="trip-start"
      value="2022-10-05"
      min="2012-01-01" max="2023-12-31" >
    </div>
    <div class="form-group">
      <label for="end">End date:</label>

      <input type="text"
      value="2022-10-28"
      min="2012-01-01" max="2023-12-31" required>
    </div>

    <div class="form-group">
      <label >Container ID: </label>
      <input type="text"  ><br><br>
      </div>




    <div class="form-group">
      <label  >Choose the model :</label>
      <div class="col-sm-10">
        <select  >
          <option value="Choose the model" selected>Choose the model </option>
          <option value="Gradient Boosting" >Gradient Boosting</option>
          <option value="Decision Tree"> Decision Tree </option>
          <option value="Random Forests"> Random Forests </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button  class="btn btn-success">Submit</button>
      </div>
    </div>

  </form>
</div> -->
<!-- <div>
  <h2> Container ID   : <i>  </i></h2>
	<h2> Your Prediction   : <i> {{data?.prediction}} </i></h2>
  <h3> Model Used for prediction is    : <i> {{data?.Model}} </i></h3>
</div> -->
      <div class="form-holder mt-4 ms-4">
          <div class="form-content ">
              <div class="form-items">
                <h1>Check Container</h1>
                <form action="#" [formGroup]="addForm" (ngSubmit)="submit()" class="">

                      <div class="col-md-12 mt-4">
                        <label >Start Trip</label>

                         <input class="form-control mt-2" type="date" formControlName="trip-start" placeholder="Start Trip" required>

                      </div>

                      <div class="col-md-12 mt-4">
                        <label >End Trip</label>

                          <input class="form-control mt-2" type="date" formControlName="trip-end" placeholder="End Trip" required>

                      </div>





                     <div class="col-md-12 mt-4">
                        <input class="form-control" type="text" formControlName="ContainerID" placeholder="ContainerID" required>
                     </div>
                      <div class="form-button mt-3 ">
                          <button  type="submit" class="btn btn-danger">Predict</button>
                      </div>
                  </form>
                  <div style="" class="mt-4">
                    <table  class="table text-center">
                      <thead>
                          <tr>
                              <th scope="col" style="width: 50px;">Container_ID</th>
                              <th scope="col" style="width: 50px;">prediction</th>
                              <th scope="col" style="width: 50px;">Trip start</th>
                                  <th scope="col" style="width: 50px;">Trip end</th>
                                  <th scope="col" style="width: 77px;">Most frequent user</th>
                                  <th scope="col" style="width: 77px;">Most freq move</th>
                                  <th scope="col" style="width: 60px;">No of users</th>
                                  <th scope="col" style="width: 90px;">No of HTTP hits</th>


                          </tr>
                      </thead>
                      <tbody>

                              <tr >
                              <td style="width: 50px;" class="text-center">{{data.Container_ID}}</td>
                              <td style="width: 50px;" class="text-center">{{data.prediction}}</td>
                              <td style="width: 77px;" class="text-center">{{data.Details.trip_start}}</td>
                                  <td style="width: 77px;" class="text-center">{{data.Details.trip_end}}</td>
                              <!-- <td style="width: 100px;" class="text-center">{{data.Details.sim_moveset_occ}}</td>
                              <td style="width: 100px;" class="text-center">{{data.Details.sim_move_perc}}</td> -->
                              <td style="width: 50px;" class="text-center">{{data.Details.freq_user}}</td>
                              <td style="width: 77px;" class="text-center">{{data.Details.freq_move}}</td>
                              <td style="width: 60px;" class="text-center">{{data.Details.no_users}}</td>
                              <td style="width: 90px;" class="text-center">{{data.Details.no_http_hits}}</td>

                          </tr>
                        </tbody>
                      </table>
                      </div>

                          <div style="" class="mt-4">
                            <table  class="table text-center">
                              <thead>
                                  <tr>
                                    <th scope="col" style="width: 100px;">Attribute</th>
                                    <th scope="col" style="width: 300px;">Value</th>


                                  </tr>
                              </thead>
                              <tbody>
                                <tr >
                                  <td style="width: 100px;" class="text-center">Container move set</td>
                                <td style="width: 300px;" class="text-center">{{data.Details.users_set}}</td>
                                </tr>
                                  <tr >
                                    <td style="width: 100px;" class="text-center">Users set</td>
                                  <td style="width: 300px;" class="text-center">{{data.Details.sim_moveset}}</td>
                                  </tr>
                                  <tr>
                                  <td style="width: 100px;" class="text-center">Most similar move set</td>
                                  <td style="width: 300px;" class="text-center">{{data.Details.sim_moveset}}</td>



                                  </tr>
                                  <tr>
                                    <td style="width: 100px;" class="text-center">Container move set occurance</td>
                                    <td style="width: 300px;" class="text-center">{{data.Details.cont_moveset_occ}}</td>



                                    </tr>
                                    <tr>
                                      <td style="width: 100px;" class="text-center">Similar move occurence</td>
                                      <td style="width: 300px;" class="text-center">{{data.Details.sim_moveset_occ}}</td>



                                      </tr>
                                    <tr>
                                      <td style="width: 100px;" class="text-center">Similar move occurence %</td>
                                      <td style="width: 300px;" class="text-center">{{data.Details.sim_move_perc}}</td>



                                      </tr><tr>
                                        <td style="width: 100px;" class="text-center">IPs</td>
                                        <td style="width: 300px;" class="text-center">{{data.Details.ips}}</td>



                                        </tr>
                                </tbody>
                              </table>
                              </div>
                  <!-- <div class="col-lg-12 mt-5   result">
                    <h3> ContainerID : {{data.Container_ID}}</h3>
                    <h3>Your Prediction : {{data.prediction}}</h3> -->
                    <!-- <h3>Model Used for prediction is : {{data.Model}}</h3> -->
                    <!-- <h3>Details :
                      <p> deba_date : {{data.Details.deba_date}}</p>
                      <p> emba_date : {{data.Details.emba_date}}</p>
                      <p> freq_move : {{data.Details.freq_move}}</p>
                      <p> freq_user : {{data.Details.freq_user}}</p>
                      <p> http_hits : {{data.Details.http_hits}}</p>
                      <p> move_set : {{data.Details.move_set}}</p>
                      <p> no_users : {{data.Details.no_users}}</p> -->
                       <!-- "cont": "EISU8549574",
                      "deba_date": "20221005",
                      "emba_date": "20221028",
                      "freq_move": "BASI",
                      "freq_user": "OSCAR     ",
                      "http_hits": "0",
                      "move_set": "['DEBA', 'ALOD', 'CHAL', 'BASI', 'ABSI', 'BASI', 'CHAL', 'SPCA', 'EVCA', 'APRO', 'CHES', 'EMBA']",
                      "no_users": "9" -->
                    <!-- </h3> -->

                  <!-- </div> -->
              </div>

          </div>

      </div>


<div class="mt-5 ms-4 footer">
  <app-footer></app-footer>
</div>
</div>


</div>




