<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-12 col-lg-2">
    <app-navside></app-navside>
  </div>
  <div class="col-md-12 col-lg-9 ">

    <div  class="mt-5 ms-2">
      <h1  class="mt-2 ms-2">Dashboard</h1>
      <p class="mt-2 ms-2">This dashboard contains firewall logs from 2021 to 2023</p>
    </div>

    <div class="col-md-12 col-sm-12 col-lg-9 ms-2 mt-3">
      <!-- <iframe title="firewall dashboard" width="1024" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiMzk5YTg5NmMtMTI5YS00YjIwLWIxMzYtMTMwYTg0OGNhNWQ1IiwidCI6IjE5ZjU0OGVjLTM0NTYtNGUxMy04MmNkLTI4MGE3MGE3NjZkZiJ9" frameborder="0" allowFullScreen="true"></iframe>
       -->

       <iframe title="Report Section" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNjNlNWRkZDYtMTI5Yy00MmRjLTk2MjYtMTdlMWU3NDMxMmFmIiwidCI6IjJhMzBiYzY5LWRmZGItNGU1My1hZWFlLTUzMDY5NmYyYzU0OCJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

  </div>
</div>
<!-- <app-footer class=""></app-footer> -->
