<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-12 col-lg-2">
    <app-navside></app-navside>
  </div>
  <div class="col-md-12 col-lg-9 ">

    <div  class="mt-5 ms-2">
      <h1  class="mt-2 ms-2">DockseraSpy tracking system</h1>
      <p class="mt-2 ms-2">DockseraSpy is a container tracking system that helps in managing and tracking containers by providing insightful analysis. Our main goal is to keep your docks safe from any suspicious activity.</p>
    </div>

    <div class="col-mid-12 col-lg-11 col-sm-12 mt-3  d-flex justify-content-center ">
      <app-report1></app-report1>
  </div>

    <!-- <div class="col-md-12 col-sm-12 col-lg-9 ms-2 mt-3">
      <iframe title="firewall dashboard - User Behavior Comparison" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=f64417e3-b966-4bce-b2d6-e60af756bd8f&autoAuth=true&ctid=19f548ec-3456-4e13-82cd-280a70a766df" frameborder="0" allowFullScreen="true"></iframe>
    </div> -->



  </div>
</div>
<!-- <app-footer class=""></app-footer> -->
